@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
a{
    color: #ffffff;
    text-align: center;
    align-items: center;
}
body {
    font-family: 'Poppins', sans-serif;
    background-image: url('/img/fondo1.jpg'); /* Cambia la ruta a la correcta */
    background-size: cover; /* Mantiene la proporción de la imagen */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Fondo fijo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: #333;
}


.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #555;
}
/* Estilo para el botón de registrarse */
.register-btn {
    width: 100%;
    padding: 10px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px; /* Espacio entre botones */
}

.register-btn:hover {
    background-color: #777;
}

/* Estilo para el botón de iniciar sesión */
.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #555;
}
